<div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item">
        <button mat-fab color="primary" aria-label="Forward" (click)="moveRover(0, 3000)">
            <mat-icon>arrow_upward</mat-icon>
        </button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button mat-fab color="primary" aria-label="Turn Left" (click)="moveRover(2, 600)">
            <mat-icon>turn_left</mat-icon>
        </button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button mat-fab color="primary" aria-label="Turn Right" (click)="moveRover(3, 600)">
            <mat-icon>turn_right</mat-icon>
        </button>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
        <button mat-fab color="primary" aria-label="Reverse" (click)="moveRover(1, 3000)">
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>
    <div class="grid-item"></div>
  </div>